* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vh;
  height: 100vh;
}
#main_title {
  color: #e9c999;
  font-size: 2rem;
}
#header_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(69, 69, 156);
  width: 100vw;
  height: 13%;
}
.header_menu {
  margin-right: 50px;
  font-size: 1.1rem;
}
div {
  box-sizing: border-box;
  width: 50px;
  height: 20px;
}
